<div class="forum-footer">
    <div class="panel panel-default no-margin">
        <div class="panel-body">
            <div class="container">
                <div class="forum-help">
                    <ul class="help-item">
                        <li><a href="/p/6">API</a></li>
                        <li><a href="/p/2">FAQ</a></li>
                        <li><a href="/p/5">我们的愿景</a></li>
                    </ul>
                </div>
                <h5>Tech2Day</h5>
                <h5>Technology to EveryDay.</h5>
                <small>VERSION: 1.0.1 | 永远相信美好的事情即将发生。</small>
                <div class="forum-support">

                </div>
            </div>
        </div>
    </div>
</div>