{layout name="layout" title="Tech2Day"/}
{include file="component/pathbar" path="搜索"/}
<div class="panel panel-default post-list">
    <ul class="list-group">
        {volist name="searchList" id="item"}
        <li class="list-group-item">
            <div class="panel-body no-padding post-item">
                <div class="post-item__header">
                    <img src="_HEADER_/{$item.user_info.email|md5}" alt="" class="user-info__header">
                </div>
                <div class="post-item__content">
                    <h4><a href="/t/{$item.topicId}">{$item.title}</a></h4>
                    <ul class="post-item__info">
                        <li class="post-item__node">{$item.node}</li>
                        <li><strong>{$item.user_info.username}</strong></li>
                        <li>{$item.creatTime}</li>
                        <li>最后回复：<strong>{$item.lastReply}</strong></li>
                    </ul>
                </div>
                <div class="post-item__reply text-right">
                    <span class="badge post-item__reply-num">{$item.reply_num}</span>
                </div>
            </div>
        </li>
        {/volist}
    </ul>
    <div class="panel-footer">
        {$searchList->render()}
    </div>
</div>