{layout name="admin/layout"/}
<div class="col-md-3 col-sm-12 forum-sidebar">
    <div class="panel panel-default">
        <div class="list-group">
            <a href="/admin/t" class="list-group-item">话题管理</a>
            <a href="/admin/r" class="list-group-item">回复管理</a>
            <a href="/admin/n" class="list-group-item">节点管理</a>
            <a href="/admin/u" class="list-group-item active">用户管理</a>
            <a href="/admin/p" class="list-group-item">页面管理</a>
        </div>
    </div>
</div>
<div class="col-md-9 col-sm-12 forum-admin">
    <div class="panel panel-default post-list">
        <div class="panel-heading">
            <h5>用户管理</h5>
        </div>
        <ul class="list-group">
            {volist name="userList" id="item"}
            <li class="list-group-item" id="{$item.userId}">
                <div class="panel-body no-padding post-item">
                    <div class="post-item__header">
                        <img src="_HEADER_/{$item.email|md5}" alt="用户头像" class="user-info__header">
                    </div>
                    <div class="post-item__content">
                        <h4><a href="/u/{$item.username}" target="_blank">{$item.username}</a></h4>
                        <ul class="post-item__info">
                            <li>ID：<strong>{$item.userId}</strong></li>
                            <li>加入时间：{$item.joinTime}</li>
                        </ul>
                    </div>
                    <div class="post-item__reply text-right admin-post__tools">
                        {if condition="$item.level == 0"}
                        <span class="label label-warning add-admin" userid="{$item.userId}">设为管理员</span>
                        {else /}
                        <span class="label label-default delete-admin" userid="{$item.userId}">取消管理员</span>
                        {/if}
                    </div>
                </div>
            </li>
            {/volist}
        </ul>
    </div>
</div>
